/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 Oct, 2015, 1:32:35 PM
    Author     : Priyanka
*/

.hbox{
    -fx-background-image: url("white.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-spacing: 40;
    -fx-alignment: top-center;
    -fx-padding: 40 25 30 25;
}

.title-text{
    -fx-underline: true;
    -fx-font-family: Aharoni;
    -fx-font-size: 22;
    -fx-font-weight: bold;
}

.hbox-title{
    -fx-alignment: top-center;
}

.text{
    -fx-font-family: Calibri;
    -fx-font-size: 16;
}

.scrollpane{
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-hbar-policy: never;
    -fx-vbar-policy: as-needed;
}

.vbox{
    -fx-alignment: top-left;
    -fx-padding: 18;
    -fx-spacing: 15;
    -fx-pref-width: 500;
}

.text-header{
    -fx-font-family: Tahoma;
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( one-pass-box , rgb(0.4f, 0.4f, 0.4f) , 0, 0.0 , 0 , 3.0f );
}

.help-hbox{
    -fx-spacing: 15;
    -fx-alignment: center;
    
}

.help-imv{
    -fx-image:url("question_mark.png");
}

.text-help-header{
    -fx-font-family: Calibri;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.help-vbox{
    -fx-spacing: 10;
    -fx-padding: 15 30 10 30;
    -fx-alignment: top-center;
    -fx-background-color: #eff4ff;
}

.command-hbox{
    -fx-spacing: 10;
    -fx-padding: 5 12 5 12;
    -fx-alignment: center;
}

.label{
    -fx-font-family: Calibri;
    -fx-font-size: 16;
    -fx-font-weight: normal;
    -fx-text-fill: #ffffff;
}

.bottom-vbox{
    -fx-spacing: 5;
    -fx-padding: 10 12 10 12;
    -fx-alignment: center;
    -fx-background-color: #383737;
}

.feedback-hbox{
    -fx-padding: 5;
    -fx-alignment: center;
    -fx-background-color: #f0f0f0;
}
